absl-py==2.3.1
ale-py==0.7.5
AutoROM==0.4.2
autorom-accept-rom-license==0.6.1
box2d-py==2.3.5
-e git+https://github.com/wenchiyang/carracing-gym.git@7629a3acf711419edc7e67ba941e59bfc4c2a8f4#egg=carracing_gym
certifi==2026.2.25
cffi==1.17.1
charset-normalizer==3.4.6
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
cryptography==46.0.6
cycler==0.12.1
cython==3.2.4
Farama-Notifications==0.0.4
google-auth==2.49.1
google-auth-oauthlib==0.4.6
grpcio==1.70.0
gym==0.21.0
gymnasium==1.1.1
idna==3.11
imageio==2.35.1
importlib-metadata==8.5.0
importlib-resources==6.4.5
kiwisolver==1.4.7
lazy-loader==0.4
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.4.1
networkx==3.1
numpy==1.24.4
oauthlib==3.3.1
opencv-python==4.13.0.92
packaging==26.0
-e git+https://github.com/wenchiyang/pacman_gym.git@9c7ea908d03568ab67cdf06a0cfc8c857c4cca12#egg=pacman_gym
pandas==2.0.3
pillow==10.4.0
-e git+https://github.com/pranaysriharsha/pls.git@0d13b28733e2d244922bd1de63e16e0689ae5d96#egg=pls
problog==2.2.4
protobuf==3.20.0
psutil==7.2.2
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==2.23
pygame==2.1.0
pyglet==1.5.11
pyparsing==3.1.4
pysdd==1.0.6
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyVirtualDisplay==3.0
PyWavelets==1.4.1
requests==2.32.4
requests-oauthlib==2.0.0
scikit-image==0.21.0
scipy==1.10.1
Shimmy==2.0.0
six==1.17.0
stable-baselines3==1.5.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tifffile==2023.7.10
torch==1.9.0
tqdm==4.67.3
typing-extensions==4.13.2
tzdata==2025.3
urllib3==2.2.3
werkzeug==3.0.6
zipp==3.20.2
